.author-header {
  text-align: center;
  margin: 2rem auto;
}

.author-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fcefd4;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.author-subtitle {
  font-size: 1rem;
  color: #aaa;
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
}

